<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 40%;
        }

        td,
        th {
            border: 3px solid black;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: rgb(189, 193, 243);
        }
    </style>     
</head>

<body style="background-color:paleturquoise;">
    <div>
        <h1>Tambah Data</h1>
        <form action="" method="POST">
            <table border="1" cellpanding="10">
                <tr>
                    <td bgcolor="yellow">Baris 1 kolom 1</td>
                    <td> baris 1 kolom 2</td>
                </tr>
                <tr bgcolor="00ff80">
                    <td>Baris 2 kolom 1</td>
                    <td>baris 2 kolom 2</td>
                </tr>
            </table>            
            <label for=""><h1 style="color: brown;">Nama</label>
            <input name="nama" type="text" required>
            <input for="">Detail</label>
            <input name="detail" type="text" required>
            <button type="submit">kirim</button>

        </form>
            
        <hr>
        <h1>List Data</h1>
        <br>
        <table>
            <tr>
                <th style="color:blue; font-family: arial, sans-serif;
                border-collapse: collapse;"></p>Id</th>
                <th style="color:blue;"></p>Nama</th>
                <th style="color:blue;"></p>Actions</th>
                     
                <!-- <th>detail</th> -->
            </tr>
            {% for d in context %}
            <tr>
                <td>{{loop.index}}</td>
                <td>{{d[1]}}</td>
                <td>
                    <a href="/detail/{{d[0]}}">
                        <button class=" btn btn-info"><a style="color: yellow;">detail</button>
                    </a> 
                    <a href="/update/{{d[0]}}">
                        <button class="btn btn-warning"><a style="color: blueviolet;">update</button>
                    </a>
                    <a href="/delete/{{d[0]}}">
                        <button class="btn btn-danger"><a style="color: red;">delete</button>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </table>
    <div>
</body>
<html>


    