<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<body>
    <h2>
        <a href="/">home</a>
    </h2>
    <h1>detail</h1>
    <span> nama: {{context[1]}}</span>
    <br>
    <span> jenis kelamin: {{context[2]}}</span>
    <br>
    <span> tanggal lahir: {{context[3]}}</span>
    <br>
    <span> vitamin A: {{context[4]}}</span>
    <br>
    <span> berat badan: {{context[5]}}</span>
    <br>
    <span> tinggi badan: {{context[6]}}</span>
    <br>
    <span> lingkar kepala: {{context[7]}}</span>
    <br>
    <span> keterangan: {{context[8]}}</span>
</body>
</html>
