<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td,
        th {
            border: 3px solid black;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: rgb(210, 189, 243);
        }
    </style>     
</head>

<body style="background-color:paleturquoise;">
    <div>
        <h1>Data Santri Pesantren Qoryatussalam</h1>
        <form action="" method="POST">            
            <label for="">Nama</label>
            <label name="nama_santri" type="text" required>
            <input for="">Keterangan</label>
            <input name="keterangan" type="text" required>
            <button type="submit">kirim</button>

        </form>

        <table>
            <tr>
                <th>id</th>
                <th>nama santri</th>
                <th>keterangan</th>
            </tr>
        </table>
    <div>
</body>
<html>